{% extends 'layouts/base.html' %}


{% block content %}
    <div class="container">

        <div class="row mt-5">
            <div class="col-md-5 col-sm-6">
                <a href="{% url 'social:post-list' %}" class="btn btn-light font-weight-bolder">Back To Feed</a>
            </div>
        </div>

        <div class="row justify-content-center mt-3 mb-5">
            <div class="col-md-5 col-sm-12 border-bottom">
                <p>
                    <strong>{{ post.author }}</strong>{{ post.created_at }}
                    {% if request.user == post.author %}
                        <a href="{% url 'social:post-update' post.pk %}"><i class="fa fa-edit"></i></a>
                        <a href="{% url 'social:post-delete' post.pk %}"><i class="fa fa-trash"></i></a>
                    {% endif %}
                </p>
                <p>{{ post.body }}</p>

                <div class="d-flex flex-row">
                    <form method="post" action="{% url 'social:like' post.pk %}">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <button type="submit" style="background-color: transparent; border: none; box-shadow: none">
                            <i class="far fa-thumbs-up"> <span>{{ post.like.all.count }}</span> </i>
                        </button>
                    </form>

                    <form method="post" action="{% url 'social:dislike' post.pk %}">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <button type="submit" style="background-color: transparent; border: none; box-shadow: none">
                            <i class="far fa-thumbs-down"> <span>{{ post.dislike.all.count }}</span> </i>
                        </button>
                    </form>

                </div>

            </div>
        </div>

        <div class="row justify-content-center mt-3 mb-5">
            <div class="col-md-5 col-sm-12 border-bottom">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success btn-block ml-4">Save</button>
                </form>
            </div>
        </div>

        {% for comment in comments %}
            <div class="row justify-content-center mt-3 mb-5">
                <div class="col-md-5 col-sm-12 border-bottom">
                    <p>
                        <strong>{{ comment.author }}</strong> {{ comment.created_at }}
                        {% if request.user == comment.author %}
                            <a href="{% url 'social:comment-delete' post.pk comment.pk %}"><i
                                    class="fa fa-trash"></i></a>
                        {% endif %}
                    </p>
                    <p>{{ comment.comment }}</p>
                </div>
            </div>
        {% endfor %}

    </div>
{% endblock content %}