
.notification-badge{
    transition: 0.3s;
}

.notification-badge:hover{
    cursor: pointer;
    opacity: 0.75;
    transition: 0.3s;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content{
    position: absolute;
    min-width: 300px;
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 0.9rem;
}

.dropdown-content a{
    color: #000000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover{
    background-color: #ddd;
}

.dropdown-item-parent{
    position: relative;
    display: block;
}

.dropdown-item-close{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.8rem;
    padding-right: 5px;
    transition: 0.3s;
}

.dropdown-item-close:hover{
    color: rgb(180, 25, 25);
    transition: 0.3s;
    cursor: pointer;
}


